{% extends 'base.html'%}
{% block body-content %}
    {% autoescape off %}
        {{ map_html }}
    {% endautoescape %}


    
    <form id="map-form" method='GET'>
        
        <!-- input needs id ..-->
        <label for="map-choice">Choose A Filter:</label>
        <select name="map-choice" id="map-choice" form="map-form">
            <option value="COVID-19 Cases">COVID-19 Cases</option>
            <option value="COVID-19 Deaths">COVID-19 Deaths</option>
            <option value="Median Income">Median Income</option>
            <option value="Insurance Coverage">Insurance Coverage</option>
        </select>
        <input type='submit' value='Change Map Type' />
    </form>
    <!-- Need a get here to retrieve the post from submit.. -->
    <br><br><h3>Map Choice: </h3> {{ map_choice }}

{% endblock %}