{% extends 'base.html'%}
{% block title %}Tables{% endblock %}
{% block body-content %}


<h2>Tables And Statistics</h2>

<br><br>

<h3> Statistics For: {{ table_choice }} </h2>

<br>

<div id="table-wrapper">
    {% autoescape off %}
        {{ table_html }}
    {% endautoescape %}
</div>

<br><br><br>

<form id="table-form" method='POST'>
    {% csrf_token %}   
    <!-- input needs id ..-->
    <label for="table-choice">Choose A Statistic:</label>
    <select name="table-choice" id="table-choice" form="table-form">
        <option value="COVID-19 Cases">COVID-19 Cases</option>
        <option value="COVID-19 Deaths">COVID-19 Deaths</option>
        <option value="Median Income">Median Income</option>
        <option value="College Education">College Education</option>
        <option value="Unemployment">Unemployment</option>
        <option value="Poverty">Poverty</option>
        <option value="Insurance Coverage">Insurance Coverage</option>
    </select>
    <input type='submit' value='Change Table Type' />
</form>

<script>
    document.getElementById('table-choice').value = "{{ table_choice }}"
</script>

<style>
    #table-wrapper{
        height: 50vh;
        display: inline-block;
        overflow-y: auto;
    }
</style>


{% endblock %}