<!-- means this html extends the base.html; basically
copying whatever was in base.html into this html
mt = margin top
pt = padding top
hr = horizontal ruler
adapted from bootstrap
-->



{% extends 'base.html'%}
{% block title %}Blog Home Page{% endblock %}
{% block body-content %}
<!-- changes the title in the base.html file according to the page-->

<!-- loads in crispy forms tags to stylize forms -->
{% load crispy_forms_tags %}
{% block content %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<h1> Welcome, {{ request.user }}! Please share your story here. </h1>

<div class="container">
    <div class = "row ml-1">
        </div>
    </div>

    <div class = "row mt-2">
        <!--the form on the left side-->
        <div class = "col-md-4">
            <!-- my-3 to line up with the blog posts on right -->
            <div class = "card my-3">
                <div class = "card-body card border-dark">
                    <h5 class="card-title"> Write your post here!</h5>
                    <form method = "POST">
                        <!--csrf is passed to send things in a secure manner--> 
                        {% csrf_token %}
                        <!-- passing in a filter on the form-->
                        {{ form | crispy }}
                        <!-- submit button
                            btn (button) is using bootstrap; block makes the button longer-->
                        <input class = "btn btn-dark btn-block" type = "submit" value="Post">
                    </form>
                </div>
            </div>

        </div>
        <div class = "col-md-8">
            <!-- template tag to look through the posts and get the data we want
            the posts refers to the posts query we have in views.py, which includes all the objects 
            post is just a variable we created in python to loop through and now we can take data from that database ex: the dates-->
            {% for post in posts %}
            <!-- card to put the various blog posts
            my-3 gives some space between the top and bottom of card-->
            <div class="card my-3">
                <div class="card-body card border-dark">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- gets the author of the post and shows the profile picture-->
                            <h6>Posted by: {{post.author}}</h6>
                            {% for profile in profiles %}
                                {% if profile.user == post.author %}
                                    <img id="image"  src="{{profile.photo.url}} " width="100px" height="100px" alt="Profile Picture">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class = "col-md-8">
                            <!-- the template tag we use to pass out data is the double curly brackets
                            so this will query the dates from the database
                            do the same with the title
                            so essentially replacing the static data with data from the database
                            taking the data from the columns in the models.py (database)-->
                            <small> {{post.date_created}}</small>
                            <hr>
                            <!-- a link tag, so if we click on it, it will lead to a more detailed page-->
                            <a class="h3" href = "{% url 'postdetails' post.id %}">{{post.title}} </a>
                            <p class="text-justify my-3">
                                <p>
                                    {{post.content}}
                                </p>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>        
    </div>
</div>
{% endblock %}
{% endblock %}