<!-- means this html extends the base.html; basically
copying whatever was in base.html into this html
mt = margin top
pt = padding top
hr = horizontal ruler
adapted from bootstrap
-->



{% extends 'base.html'%}
{% block body-content %}
<!-- changes the title in the base.html file according to the page-->
{% block title %}Blog Home Page{% endblock %}
<!-- loads in crispy forms tags to stylize forms -->
{% load crispy_forms_tags %}
{% block content %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


<div class="container">
    <!-- pt -3 describes padding between first opst and nav bar-->
    <div class = "row mt-5 pt-3">
        <!--the form on the left side-->
        <div class = "col-md-4">
            <!-- my-3 to line up with the blog posts on right -->
            <div class = "card my-3 shadow">
                <div class = "card-body">
                    <form method = "POST">
                        <!--csrf is passed to send things in a secure manner--> 
                        {% csrf_token %}
                        <!-- passing in a filter on the form-->
                        {{ form | crispy }}
                        <!-- submit button
                            btn (button) is using bootstrap; block makes the button longer-->
                        <input class = "btn btn-primary btn-block" type = "submit" value="Post">
                    </form>
                </div>
            </div>

        </div>
        <div class = "col-md-8">
            <!-- template tag to look through the posts and get the data we want
            the posts refers to the posts query we have in views.py, which includes all the objects 
            post is just a variable we created in python to loop through and now we can take data from that database ex: the dates-->
            {% for post in posts %}
            <!-- gives the shadow effect card to put the various blog posts-->
            <!-- card to put the various blog posts
            my-3 gives some space between the top and bottom of -->
            <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            {% for profile in profiles %}
                                {% if profile.user == post.author %}
                                    {{post.author}}
                                    <img id="image" src="{{profile.photo.url}} " width="100px" height="100px" alt="Profile Picture">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class = "col-md-8">
                            <!-- the template tag we use to pass out data is the double curly brackets
                            so this will query the dates from the database
                            do the same with the title
                            so essentially replacing the static data with data from the database
                            taking the data from the columns in the models.py (database)-->
                            <small> {{post.date_created}}</small>
                            <hr>
                            <!-- a link tag, so if we click on it, it will lead to a more detailed page-->
                            <a class="h3" href = ""> {{post.title}} </a>
                            <p class="text-justify my-3">
                                <p>
                                    {{post.content}}
                                </p>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

        
    </div>
</div>
{% endblock %}
{% endblock %}