<!-- means this html extends the base.html; basically
copying whatever was in base.html into this html
mt = margin top
pt = padding top
hr = horizontal ruler
adapted from bootstrap
-->

{% extends 'base.html'%}
{% block title %}Post Details{% endblock %}
{% block body-content %}

<!-- loads in crispy forms tags to stylize forms -->
{% load crispy_forms_tags %}
{% block content %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


<div class="container">
    <div class = "row mt-5 pt-3">
        <div class = "col-md-8 offset-md-2">
            <div class = "card">
                <div class="card-body" >
                    <div class = "row">
                        <div class="col-md-4">
                            <h6>Posted by: {{post.author}}</h6>
                            <!--post author's pic and post date; NEED TO REPLACE WITH CHRIS'S IMG THING-->
                            {% for profile in profiles %}
                                {% if profile.user == post.author %}
                                    <img id="image" src="{{profile.photo.url}} " width="100px" height="100px" alt="Profile Picture">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class = "col-md-8">
                            <small>{{ post.date_created}} </small>
                            <!-- only the author of post can edit or delete post (only they can see these buttons for a post)-->
                            {% if post.author == request.user %}
                            <!-- delete and edit buttons for posts-->
                            <span> <a class = "btn btn-danger float-right btn-sm" href = "{% url 'deletepost' post.id%}">Delete Post</a></span>
                            <span> <a class = "btn btn-info mx-2 float-right btn-sm" href = "{% url 'postedit' post.id%}">Edit Post</a></span>
                            {% endif %}
                            <hr>
                            <!-- actual post itself-->
                            <h4>{{post.title}}</h4>
                                <p>
                                    {{ post.content }}
                                </p>

                        </div>
                    </div>
                    <!-- adapted from bootstrap in order to have the collapse functionality for comments
                        source: https://getbootstrap.com/docs/4.6/components/collapse/#accordion-example
                    so that when we press on a href, it will open up and show content; otherwise it will be collapsed-->
                    <p>
                        <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <!-- accesses the comment_count defined in models.py to display the comment count -->
                            Comments: {{ post.comment_count }}
                        </a>
                    </p>
                      <div class="collapse" id="collapseExample">
                          <!-- limits the height of the comments body and puts a scrolling function-->
                          <div class="card card-body">
                            <!-- display comments using the reverse relationship-->
                            <!-- gets the content of each comment in the comment model-->
                            {% for comments in post.commentsmodels_set.all %}
                            <p class = "text-justify">
                                {% for profile in profiles %}
                                {% if profile.user == request.user %}
                                    <img id="image"  src="{{profile.photo.url}} " width="50px" height="50px" alt="Profile Picture">
                                {% endif %}
                            {% endfor %}
                                <h5> {{comments.user}}</h5>
                                    <p class='text-right'>
                                        {{ comments.comment }}
                                    </p>
                                    <hr>
                            </p>
                            {% endfor %}
                            </div>
                        </div>
                      <!-- comment form -->
                      <form method="POST">
                          {% csrf_token %}
                          {{ com_form | crispy }}
                          <input class = "btn btn-primary btn-sm" type = "submit" value = "Comment">
                      </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% endblock %}